/Assignee.java
/Assignment.java
/BinaryOperator.java
/BooleanType.java
/ClassDeclaration.java
/ConstructorCall.java
/Empty.java
/Expression.java
/ExpressionPrime.java
/Goal.java
/INode.java
/INodeList.java
/Identifier.java
/If.java
/IntArrayType.java
/IntType.java
/MainClass.java
/MethodCall.java
/MethodDeclaration.java
/NodeChoice.java
/NodeList.java
/NodeListOptional.java
/NodeOptional.java
/NodeSequence.java
/NodeTCF.java
/NodeToken.java
/ObjectCreationExpression.java
/Parameter.java
/ParameterDeclaration.java
/ParameterDeclarationList.java
/ParameterList.java
/Statement.java
/StatementList.java
/Type.java
/TypedDeclaration.java
/UnaryOperator.java
/VarDeclaration.java
/VoidType.java
/WhileLoop.java
/ArrayAccess.java
/ArrayLengthAccess.java
/AssignableArrayAccess.java
/AssignmentStatement.java
/BlockStatement.java
/ClassConstructorCall.java
/IfStatement.java
/IntArrayConstructorCall.java
/ObjectInstantiationExpression.java
/PrintStatement.java
/WhileStatement.java
