/Assignment.java
/BinaryOperator.java
/BooleanType.java
/ClassDeclaration.java
/Empty.java
/Expression.java
/ExpressionPrime.java
/Goal.java
/INode.java
/INodeList.java
/Identifier.java
/If.java
/MainClass.java
/MethodCall.java
/MethodDeclaration.java
/New.java
/NodeChoice.java
/NodeList.java
/NodeListOptional.java
/NodeOptional.java
/NodeSequence.java
/NodeTCF.java
/NodeToken.java
/Statement.java
/StatementList.java
/Type.java
/VarDeclaration.java
/WhileLoop.java
